@import url("./mac.css");
@import url("./art-css/art.css");



button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* background-color: transparent; */
}

p {    
    font-size: 1.5rem;
}

a {
    color: var(--black-01);
    text-decoration: underline;
}

