@import url("./mac.css");
@import url("./art-css/art.css");



button {
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* background-color: transparent; */
}

html {
    scrollbar-width: none;
} 

@media (min-width: 1000px) {
    html {
        scrollbar-width: thin;
        overflow-x: hidden;
    }
}

p {    
    font-size: 1.5rem;
}

a {
    color: var(--black-01);
    text-decoration: underline;
}

li,ol {
    list-style: none;
}

