.msg {
    color: #FBBE2D;
    font-weight: 800;
}

.box {
    width: 100vw;
    height: 80dvh;

    display: flex;
    overflow: auto;
    /* align-items: center; */
    justify-content: center;
    align-items: center;
}

.content {
    padding: 15px;

    width: 100%;
    max-width: 20rem;

    /* height: 60%; */
    
    text-align: center;
    
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    /* justify-content: space-between; */
    flex-direction: column;

}