.footer {
    /* width: 100dvw; */
    padding: 1.2rem;

   /*  position: fixed;
    bottom: 0; */
    
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.title {
    font-weight: 800;
    font-size: 1rem;
}

.content {
    width: 100%;
    max-width: 14rem;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

@media (max-width: 400px) {
    .content {
       text-align: center;
    }
}