.content {
    padding: 1.5rem;

    width: 100%;
    max-width: 70rem;
    /* max-width: fit-content; */
    min-height: 100dvh;
    
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    /* flex-wrap: wrap; */
    /* overflow: auto; */

    scrollbar-width: none;
}

.ulCard {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    row-gap: 1.5rem;
}

.card {
    width: 100%;
    max-width: 60rem;
    padding: 1rem;

    height: 100%;

    border-radius: 0.9rem;

    cursor: pointer;
}

.link {
    text-decoration: none;
}

.cardContent {
    /* margin: 1rem; */
    overflow: auto;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.infosBox {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.data {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
}

.name {
    font-size: 1.5rem;
}

.infos {
    font-size: 1.2rem;
}