.content {
    width: 100%;
    max-width: 60rem;
    min-height: 100dvh;

    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    margin: 2rem;
}

.box {
    width: 100%;
    max-width: 40rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
    width: 80%;
    cursor: pointer;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    padding: 1rem;

    overflow-wrap: break-word;
    text-wrap-mode: wrap;
}

.cardContent {
    min-width: 100%;
    text-decoration: none;

    display: flex;
    gap: 1rem;
    row-gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-end;
}

.cardItems {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.image {
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border-radius: 1rem;
}

.data {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    flex-wrap: wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.name {
    display: flex;
    font-size: 1.5rem;

}

.infos {
    font-size: 1.2rem;
}