.content {
    padding: 1.5rem;

    width: 100%;
    max-width: 20rem;
    height: 100dvh;
    
    text-align: center;
    
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex-wrap: wrap;
    overflow: auto;
}